{% extends "layouts/base.twig" %}

{% block title %}login{% endblock %}
{% block content %}

    <div id="splashscreen">
        <h2>Welcome !</h2>
        This is a simple php frame work
        <a href="https://www.linkedin.com/in/amir-shadanfar" class="enter_link">Developer</a>
    </div>

{% endblock %}